body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;

}

/*a:hover{
   background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;

}*/

li{
  margin-right: 10px;
}

a{
  position: relative;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 0 40px rgba(0,0,0,.5);
  overflow: hidden;
}

a span{
  position:absolute;
  display: block;
  background: #03a9f4;

}

a span:nth-child(1)
{
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  transform: translateY(0);
}
a:hover span:nth-child(1){
  transition: 0.1s;
  transform: translateY(-100%);
}

/*------------------------------------------*/
a span:nth-child(2)
{
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}
a:hover span:nth-child(2){
  transition: 0.5s;
  transform: translateX(100%);

}
/*------------------------------------------*/
a span:nth-child(3)
{
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}
a:hover span:nth-child(3){
  transition: 0.4s;
  transition-delay: 0.5s;
  transform: translateY(0);
}
/*------------------------------------------*/
